.image-container{
  width: 100%;
  aspect-ratio: 1/0.61;
  overflow-Y: hidden;
  
  img{
    width: 100%;
    object-fit: contain;
    object-position: 0 -20px;
  }
}

article{
  // padding: $s-500 0 $s-300 $s-400;
  // max-width: 327px;

  h1{
    max-width: 20ch;
  }

  & > p{
    margin: $s-400 0 $s-600;
    max-width: 33ch;
  }

  .author-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    // max-width: 327px !important;

    .author-image{
      width: 2.5rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }
}