.image-container{
  width: 100%;
  aspect-ratio: 1/0.61;
  overflow-Y: hidden;
  
  img{
    width: 100%;
    object-fit: contain;
    object-position: 0 -15px;

    @media only screen and (width >=650px) {
      object-fit: cover;
      object-position: -55px 0;
      min-height: 100%;
    }
    @media only screen and (width >=1024px) {
      object-position: -25px 0;
    }
  }

  @media only screen and (width >= 650px){
    display: flex;
    flex: .5;
    min-height: 100%;
    aspect-ratio: unset;
  }
}

article{
  padding-top: $s-400;
  padding-bottom: $s-300;
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    max-width: 20ch;

    @media only screen and (width >=650px) {
      max-width: 23ch;
    }
    @media only screen and (width >=1024px) {
      max-width: 28ch;
    }
  }

  & > p{
    margin: $s-400 0 $s-600;
    max-width: 33ch;

    @media only screen and (width >=650px) {
      max-width: 38ch;
    }
    @media only screen and (width >=650px) {
      max-width: 50ch;
    }
  }

  .author-container{
    display: flex;
    align-items:  center;
    gap: $s-200;
    width: 100%;
    padding-inline: $s-400;

    .author-image--container{

    
      .author-image{
        width: 2.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }
    }

    .author-text{
      display: flex;
      flex-direction: column;
      flex: 1;
      p{
        line-height: .9;
      }
    }
    .icon-container{
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: grid;
      place-items: center;
      background: $grey-200;

      .share-icon{
        width: 1.2rem;
      }
    }
        @media only screen and (width >=650px) {
          padding-inline: unset;
        }
  }

    @media only screen and (width >=650px) {
      display: flex;
      flex: .6;
      align-items: flex-start;
      padding-inline: $s-400;
    }
}