// colors
$white: #FFF;
$grey-200: #ECF2F8;
$grey-400: #9DAEC2;
$grey-500: #6E8098;
$grey-900: #48556A;

// font family
$ff-manrope: "Manrope", sans-serif;

// font size
$fs-13: 0.8125rem;
$fs-20: 1.5rem;

//font weight
$fw-200: 200; // super thin
$fw-400: 400; // normal
$fw-500: 500; // medium
$fw-600: 600; // semi bold
$fw-700: 700; // bold
$fw-800: 800; // super bold

// letter spacing
$ls-25px: 0.25px;
$ls-12: 0.12%;
$ls-25: 25%;

// line height
$lh-130: 130%;
$lh-140: 140%;

// spacing
$s-0: 0;
$s-200: 1rem;
$s-300: 1.5rem;
$s-400: 2rem;
$s-500: 2.5rem;
$s-600: 3rem;
$s-700: 3.5rem;
$s-800: 4rem;
$s-1300: 13rem;
$s-2000: 20rem;

// font uppercase
$ff-uppercase: uppercase;
